/*第一部分*/
#A
{
    width: 100%;
    height: 11%;
    background: #F2F2F2;
    display: flex;
    flex-direction: column;

}
/*第一部分上面的部分*/
#A1
{
    wedth:100%;
    height: 59%;
    /*background: #FB7654;*/
    display: flex;
    align-items: center;

}

/*第一部分上边的内容*/
#A1a
{
    width: 14%;
    height: 100%;
    /*background: #FB7541;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
/*logo  */
#A1a img{
     width: 56%;
     height: 64%;
 }
/*第一部分上边中间的部分*/
#A1b
{
    width: 72% ;
    height: 74%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px #E5E5E5 solid
}
#A1b1
{
    width: 10%;
    height: 100%;
    /*background: #FB7299;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
#A1b1 img/*放大镜*/
{
    width: 55%;
    /*height: 100%;*/
}
#A1b2
{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

#A1b2 span{
    font-size: 15.5px;
    color: #D1D1D1;
}
/*#A1b input{
    width:100%;
    height: 75%;
    border: none;
    color: white;
}
#A1b input[placeholder="搜索商品名称"]!*属性选择器*!
{
    font-size: 15px;!*给文字设计大小*!
    text-indent: 50px;!*给文字设置首行缩进*!
    word-spacing: 60px;
    color: white;

}*/
#A1c
{
    width: 14%;
    height: 100%;
    /*background: #FB7541;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
#A1c img{
    width: 41%;
    height: 46%;
}
/*第一部分下面的部分*/
#A2
{
    width: 100%;
    height: 41%;
    /*background: #FB7541;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.A2a
{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: #999999;*/
    border-bottom: 2px white solid;
}
.A2a:hover
{
    border-bottom: 2px darkblue solid;
}

#A2 span{
    font-size: 13.5px;
    color: #747474;
}
/*中间特殊的618*/
#A2a_1
{

    width: 17.5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: #999999;*/
    border-bottom: 2px white solid;
}
#A2a_1:hover
{
    border-bottom: 2px darkblue solid;
}
#A2b{
    height: 100%;
    width: 10%;
    /*background: #E5E5E5;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
#A2b img{
    height: 100%;
    width: 70%;
}
/*第二部分*/
#B
{
    width: 100%;
    height: 81%;
    background: #F5F5F5;
    flex: 1;
    overflow: scroll;/*滚动条*/
}
#B1
{
    width: 100%;
    height: 185px;
    display: flex;
}
#B1 img
{
    width: 100%;
    height: 100%;
}
#B2
{
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: column;
    background: #F2F2F2;
    margin-bottom: 8px;
}
.B2a/*图标功能区*/
{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*background: #FB7299;*/
}
.B2a1
{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.B2a1 a{
    width: 100%;
    height: 100%;
}
.B2a1 img
{
    width: 100%;
    height: 100%;
}
#B3
{
    width: 100%;
    height: 260px;
    /*background: #a6e22e;*/
    display: flex;
    justify-content: space-between;

}
#B3 img
{
    width: 100%;
    height: 100%;
}
.B3a{
    width: 49.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.B3a1
{
    height: 49.5%;
    width: 100%;
    background: #FB7299;
}
#B4
{
    width: 100%;
    height: 150px;
    margin-top: 8px;
    margin-bottom: 8px;
}
#B4 img
{
    width: 100%;
    height: 100%;
}
#B5
{
    width: 100%;
    height: 230px;
    margin-bottom: 8px;
}
#B5 img
{
    width: 100%;
    height: 100%;
}
