#C
{
    position: fixed;
    width: 100%;
    height: 8%;
    /*background: aqua;*/
    display: flex;
    justify-content: space-around;
}
.C1
{
    width: 18%;
    height: 100%;
    /*background: #a6e22e;*/
    display: flex;
    flex-direction: column;
    display: block;
}
.C1a{
    width: 100%;
    height: 70%;
    /*background: #E5E5E5;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.C1a img
{

    height: 60%;
}
.C1b
{
    width: 100%;
    height: 30%;
    /*background: bisque;*/
    display: flex;
    justify-content: center;
    align-items: center;

}
.C1b span
{
    color: #9B9B9B;
    font-size: 10px;
}
#C a
{
    text-decoration: none;
}
